body {
    font-family: Arial;
    background: #f2f2f2;
}

.card {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    border: 3px solid #333;
    border-radius: 10px;
}